# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
dist
out
gen
/platforms/WXSample-master/app/src/main/assets/
